<section class="w-full flex justify-center mt-16" id="about-us">
  <div class="w-full max-w-[1300px] flex gap-16 items-center">
    <img src="../../../assets/images/bookaround-about-us.jpg" alt="About us ilustration" class="w-1/2">
    <div class="w-full flex flex-col gap-8">
      <h2 class="p3-text font-bold text-[38px]">Sobre nosotros</h2>
      <p class="p3-text text-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sem sapien, placerat a vulputate eu, scelerisque quis mauris. Aliquam sit amet posuere dolor. Praesent pretium eu dolor sed commodo. Sed non pharetra arcu. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean non massa eu libero sagittis commodo. Donec sollicitudin pretium rutrum. Nullam lobortis dapibus varius. Aenean non dui et libero sollicitudin mollis. Donec bibendum tellus consequat metus consequat vestibulum.
        Donec suscipit tortor id justo maximus ultricies. Suspendisse quis bibendum dui. Phasellus quis enim sit amet nisl tempor accumsan vel sit amet lectus. Duis convallis massa ac tincidunt scelerisque. Aliquam et augue sed est tristique porttitor. Donec pellentesque laoreet faucibus. Vestibulum est orci, tincidunt vel nulla eget, interdum laoreet enim.</p>
    </div>
  </div>
</section>
