<section class="w-full flex justify-center mt-16 px-16" id="about-us">
  <div class="w-full max-w-[1300px] flex flex-col lg:flex-row gap-16 items-center">
    <img
      src="assets/images/bookaround-about-us.jpg"
      alt="About us ilustration"
      class="w-full lg:w-1/2 dark:rounded-2xl"
    >
    <div class="w-full flex flex-col gap-8">
      <h2 class="p3-text font-bold text-[38px] dark:text-white">Sobre nosotros</h2>
      <p class="p3-text text-lg dark:text-white">
        En Book Around, estamos dedicados a conectar a los clientes con los mejores comercios locales de su comunidad. Nuestro portal web facilita el descubrimiento de negocios cercanos
        y permite a los usuarios agendar citas de manera fácil y rápida. Por otro lado, brindamos a los comercios una plataforma para destacar sus servicios y atraer a nuevos
        clientes, fomentando así el crecimiento de las economías locales. Creemos en fortalecer los lazos entre los consumidores y las empresas de su entorno, creando una red de apoyo
        mutuo y prosperidad compartida.
      </p>
    </div>
  </div>
</section>
