@use '../../../../styles.scss';

li {
  cursor: pointer;
  position: relative;
  border: 2px solid styles.$purple_3;
  border-radius: 32px;
  transition: all 200ms ease-in;
  &:hover {
    color: styles.$purple_5;
    border-color: styles.$purple_5;
  }
}
