<section class="w-full py-8 px-4">
  <img
    src="assets/images/bookaround-admin-panel.jpg"
    alt="Book Around admin panel ilustration"
    class="w-[600px] mx-auto mb-8 dark:rounded-2xl"
  >
  <h1 class="p3-text font-medium text-2xl text-center mb-8 dark:text-white">Bienvenido al panel de administración</h1>
  <p class="p3-text font-medium text-lg text-center mb-8 dark:text-white">Desde acá podrás revisar los reportes generados por conducta inapropiada en Book Around</p>
  <ul class="p2-text font-bold flex flex-col gap-2">
    <li>
      Usuarios reportados
      <span class="r1-color">01</span>
    </li>
    <li>
      Comercios reportados
      <span class="r1-color">01</span>
    </li>
    <li>
      Reseñas reportadas
      <span class="r1-color">01</span>
    </li>
  </ul>
</section>
