<section class="w-full flex justify-center px-4 md:px-16">
  <div class="w-full max-w-[1300px] flex flex-col gap-8">
    <app-category-filter></app-category-filter>
    <div class="w-full flex items-center md:gap-8">
      <div class="w-full h-full md:h-[109px] flex justify-center items-center p1-bg rounded-s-2xl">
        <h2 class="text-3xl lg:text-[38px] font-bold text-center lg:text-left text-white">Conoce los destacados del sitio</h2>
      </div>
      <img src="assets/images/bookaround-featured.jpg" alt="" class="w-[169px]">
    </div>
    <div class="flex flex-wrap items-center justify-center gap-8">
      @for (b of featuredBusiness; track b.id) {
        @if (isLoading) {
          <ngx-skeleton-loader
            appearance="line"
            [theme]="{ height: '336px', width: '288px', borderRadius: '16px' }"
          >
          </ngx-skeleton-loader>
        } @else {
          <app-business-card [isFeatured]="true" [business]="b"></app-business-card>
        }
      }
    </div>
  </div>
</section>
