<article
  class="w-full h-14 flex gap-1 rounded-[4px] p6-border"
  [ngClass]="{ 'cursor-pointer': isClickable }"
  (click)="openAppointmentInfo()"
>
  <div
    class="w-2 h-full"
    [ngClass]="{'g1-bg': appointment.status === 'active', 'r2-bg': appointment.status === 'canceled', 'bg-[#548BDF]' : appointment.status === 'fulfilled'}"
  >
  </div>
  <div class="px-1 py-2 flex flex-col gap-1">
    <span class="p3-text text-sm dark:text-dark-text">{{ getAppointmentTitle() }}</span>
    <div class="flex gap-1 items-center">
      <i class="fa-regular fa-clock dark:text-dark-text"></i>
      <span class="p3-text text-sm dark:text-dark-text">{{ getAppointmentDateTime() }}</span>
    </div>
  </div>
</article>
<div #appointmentInfoContainer></div>
