<app-modal
  [headerTitle]="modalTitle"
  [title]="modalSubtitle"
  [hasHeader]="true"
  [buttonText]="modalButtonText"
  [icon]="modalSubtitleIcon"
  [buttonAction]="nextStep.bind(this)"
  [buttonActionIsDisabled]="modalButtonIsDisabled"
  modalType="appointmentSchedule"
>
  @if (currentStep === 1) {
    <div class="grid grid-cols-6 gap-4">
      @for (hour of dayHours; track $index) {
        <input
          type="radio"
          name="{{ hour }}"
          id="{{ hour }}"
          class="hidden"
          [disabled]="checkDisabledHour(hour)"
          (change)="onHourSelected($index)"
          [checked]="selectedHourIndex === $index"
        >
        <label
          for="{{ hour }}"
          class="p-4 p6-border rounded-2xl transition duration-100 ease-in"
          [ngClass]="[
            selectedHourIndex === $index ? 'p5-bg text-white' : 'p3-text',
            checkDisabledHour(hour) ? 'cursor-not-allowed button-disabled' : 'cursor-pointer'
          ]"
        >
          <span class="text-lg font-bold">{{ hour }}</span>
        </label>
      }
    </div>
  } @else if (currentStep === 2) {
    <div class="grid grid-cols-5 gap-4">
      @for(person of numberOfPeople; track $index) {
          <input
            type="radio"
            name="{{ person }}"
            id="{{ person }}"
            class="hidden"
            (change)="onPeopleSelected($index)"
            [checked]="selectedPeopleIndex === $index"
          >
          <label
            for="{{ person }}"
            class="cursor-pointer p-4 p3-menu-border rounded-2xl transition duration-100 ease-in text-center"
            [ngClass]="selectedPeopleIndex === $index ? 'p5-bg text-white' : 'p3-text'"
          >
            <span class="text-lg">{{ person }}</span>
          </label>
      }
    </div>
  } @else if (currentStep === 3) {
    <form [formGroup]="scheduleAppointmentForm">
      <div class="w-full flex flex-col gap-8">
        <div class="w-full flex items-center rounded-2xl p-4 gap-4 p6-border">
          <i class="fa-regular fa-envelope text-2xl p6-text"></i>
          <div class="w-full flex flex-col">
            <label class="p3-text text-lg font-medium">Correo electrónico</label>
            <input
              type="text"
              placeholder="Tu correo electrónico"
              class="w-full p6-text text-lg focus:outline-none"
              formControlName="loginEmail"
            >
          </div>
        </div>
        @if (loginEmail?.invalid && (loginEmail?.dirty || loginEmail?.touched)) {
          <div class="w-full flex items-center gap-4 px-4 invalid-input-message">
            <div class="w-[24px] flex items-center justify-center">
              <i class="fa-solid fa-circle-exclamation"></i>
            </div>
            <span *ngIf="loginEmail?.errors?.['email']">El email debe coincidir con una dirección de correo electrónico real</span>
          </div>
        }
        <div class="rounded-2xl p-4 p6-border">
          <app-password-input
            [labelText]="'Contraseña'"
            [showIcon]="true"
            formControlName="loginPassword"
          ></app-password-input>
        </div>
        <button class="button-2" (click)="onLoginToSchedule()">Iniciar sesión</button>
        <h3 class="p3-text font-medium text-2xl text-center">Si aún no estás registrado vamos a pedirte un correo para completar tu solicitud.</h3>
        <div class="w-full flex items-center rounded-2xl p-4 gap-4 p6-border">
          <i class="fa-regular fa-envelope text-2xl p6-text"></i>
          <div class="w-full flex flex-col">
            <label class="p3-text text-lg font-medium">Correo electrónico</label>
            <input
              type="text"
              placeholder="Tu correo electrónico"
              class="w-full p6-text text-lg focus:outline-none"
              formControlName="replacementEmail"
            >
          </div>
        </div>
        @if (replacementEmail?.invalid && (replacementEmail?.dirty || replacementEmail?.touched)) {
          <div class="w-full flex items-center gap-4 px-4 invalid-input-message">
            <div class="w-[24px] flex items-center justify-center">
              <i class="fa-solid fa-circle-exclamation"></i>
            </div>
            <span *ngIf="replacementEmail?.errors?.['email']">El email debe coincidir con una dirección de correo electrónico real</span>
          </div>
        }
      </div>
    </form>
  } @else if (currentStep === lastStep) {
    <img
      *ngIf="!appointmentBookingFailure"
      src="assets/images/bookaround-appointment-success.jpg"
      alt="Ilustración de una chica usando una tablet"
    >
    <img
    *ngIf="appointmentBookingFailure"
    src="assets/images/bookaround-error.jpg"
    alt="Ilustración de una chica usando una tablet"
  >
  }
</app-modal>
