<app-navbar [isAtHome]="true"></app-navbar>
<main class="w-full flex flex-col justify-center items-center mt-16">
  <section class="w-full max-w-[1300px] flex flex-col-reverse md:flex-row items-center gap-16">
    <div class="w-full flex flex-col gap-4 md:gap-8 text-center">
      <h1 class="p3-text font-bold text-4xl md:text-5xl dark:text-white">Te damos la bienvenida a Book Around</h1>
      <h2 class="p5-text font-bold text-3xl md:text-4xl dark:text-white">Completa tu perfil</h2>
    </div>

    <img
      src="assets/images/bookaround-complete-profile.jpg"
      alt="Persona utilizando un telefono para hacer login"
      class="w-full md:w-80 dark:rounded-2xl"
    >
  </section>

  <form
    class="w-full max-w-[1300px] flex flex-col gap-8 p-8 mt-4 dark:bg-dark-secondary dark:rounded-2xl"
    [formGroup]="businessRegisterForm"
    (ngSubmit)="submit()"
  >
    <div class="w-full flex flex-col gap-4 md:gap-8 rounded-2xl p-4 p6-border">
      <div class="flex flex-col gap-2 text-center">
        <h3 class="p5-text text-center font-bold text-2xl dark:text-white">Selecciona las categorías de tu comercio</h3>
        <p class="p3-text font-medium text-2xl dark:text-white">Pueden ser hasta 3</p>
        <p class="p3-text font-medium text-2xl dark:text-white">{{ selectedCategories.length }}/{{ maxCategories }}</p>
      </div>
      <div class="grid grid-cols-1 md:flex md:flex-wrap justify-center items-center gap-2 md:gap-4">
        @for (category of categories; track category.id; let i = $index) {
          <app-category-checkbox
            [id]="category.type"
            [label]="category.name"
            [icon]="category.icon"
            [disabled]="maxCategoriesSelected"
            (checked)="onCategorySelected($event, category.name)"
          ></app-category-checkbox>
        }
      </div>
    </div>

    <div class="w-full flex flex-col md:flex-row gap-4">
      <div class="w-full rounded-2xl p-4 p6-border">
        <p class="p3-text font-bold text-2xl mb-4 dark:text-white">Rango de precio</p>
        <div class="w-full flex flex-col md:flex-row gap-4 mb-4">
          <div class="w-full p-4 p3-menu-border rounded-2xl dark:border-white">
            <label class="dark:text-white">Mínimo</label>
            <input
              type="number"
              min="0"
              class="w-full outline-none dark:bg-dark-secondary dark:text-white"
              placeholder="$$$"
              formControlName="minPrice"
            >
          </div>
          <div class="w-full p-4 p3-menu-border rounded-2xl dark:border-white">
            <label class="dark:text-white">Máximo</label>
            <input
              type="number"
              min="0"
              class="w-full outline-none dark:bg-dark-secondary dark:text-white"
              placeholder="$$$"
              formControlName="maxPrice"
            >
          </div>
        </div>
        @if (minPrice?.invalid && (minPrice?.dirty || minPrice?.touched)) {
          <div class="w-full flex items-center gap-4 invalid-input-message">
            <div class="w-[24px] flex items-center justify-center">
              <i class="fa-solid fa-circle-exclamation"></i>
            </div>
            <span *ngIf="minPrice?.errors?.['required']" class="">El precio mínimo es obligatorio</span>
            <span *ngIf="minPrice?.errors?.['min']" class="">El precio mínimo debe ser mayor a 0</span>
          </div>
        }
        @if (maxPrice?.invalid && (maxPrice?.dirty || maxPrice?.touched)) {
          <div class="w-full flex items-center gap-4 invalid-input-message">
            <div class="w-[24px] flex items-center justify-center">
              <i class="fa-solid fa-circle-exclamation"></i>
            </div>
            <span *ngIf="maxPrice?.errors?.['required']" class="">El precio máximo es obligatorio</span>
            <span *ngIf="minPrice?.errors?.['min']" class="">El precio máximo debe ser mayor a 0</span>
          </div>
        }
      </div>

      <div class="w-full rounded-2xl p-4 p6-border">
        <p class="p3-text font-bold text-2xl mb-4 dark:text-white">Horarios</p>
        <div class="w-full flex flex-col md:flex-row gap-4 mb-4">
          <div class="w-full p-4 p3-menu-border rounded-2xl dark:border-white">
            <label class="dark:text-white">Apertura</label>
            <input
              type="time"
              class="w-full outline-none dark:bg-dark-secondary dark:text-white"
              value="00:00"
              formControlName="openingTime"
            >
          </div>
          <div class="w-full p-4 p3-menu-border rounded-2xl dark:border-white">
            <label class="dark:text-white">Cierre</label>
            <input
              type="time"
              class="w-full outline-none dark:bg-dark-secondary dark:text-white"
              value="23:00"
              formControlName="closingTime"
            >
          </div>
        </div>
        @if (openingTime?.invalid && (openingTime?.dirty || openingTime?.touched)) {
          <div class="w-full flex items-center gap-4 invalid-input-message">
            <div class="w-[24px] flex items-center justify-center">
              <i class="fa-solid fa-circle-exclamation"></i>
            </div>
            <span *ngIf="openingTime?.errors?.['required']" class="">La hora de apertura es obligatoria</span>
          </div>
        }
        @if (closingTime?.invalid && (closingTime?.dirty || closingTime?.touched)) {
          <div class="w-full flex items-center gap-4 invalid-input-message">
            <div class="w-[24px] flex items-center justify-center">
              <i class="fa-solid fa-circle-exclamation"></i>
            </div>
            <span *ngIf="closingTime?.errors?.['required']" class="">La hora de cierre es obligatoria</span>
          </div>
        }
        @if (businessRegisterForm.get('closingTime')?.hasError('invalidTime')) {
          <div class="w-full flex items-center gap-4 invalid-input-message">
            <span>La hora de cierre no puede ser anterior a la hora de apertura</span>
          </div>
        }
      </div>
    </div>

    <div class="w-full rounded-2xl p-4 p6-border text-center">
      <p class="p5-text font-bold text-2xl mb-4 dark:text-white">Galería</p>
      <p class="p3-text font-medium text-2xl mb-4 dark:text-white">Puedes subir hasta 5 imágenes</p>
      <input
        #fileInput
        type="file"
        multiple
        (change)="onFileChange($event)"
        class="hidden"
        formControlName="images"
      >
      <img
        src="assets/svg/cloud-arrow-up-solid.svg"
        alt="Ilustracion de subir archivos."
        class="h-full max-h-[500px] mx-auto cursor-pointer"
        (click)="triggerFileInput()"
      >
      @if (images?.invalid && (images?.dirty || images?.touched)) {
        <div class="w-full flex items-center gap-4 invalid-input-message">
          <div class="w-[24px] flex items-center justify-center">
            <i class="fa-solid fa-circle-exclamation"></i>
          </div>
          <span *ngIf="description?.errors?.['required']" class="">Las fotos del comercio son obligatorias</span>
        </div>
      }
    </div>

    <div class="w-full rounded-2xl p-4 p6-border">
      <p class="p3-text font-medium text-2xl mb-4 dark:text-white">Descripción del negocio</p>
      <input
        type="text"
        class="w-full p-4 p3-menu-border rounded-2xl mb-4 dark:bg-dark-secondary dark:text-white"
        placeholder="Escribe tu descripción"
        formControlName="description"
      />
      @if (description?.invalid && (description?.dirty || description?.touched)) {
        <div class="w-full flex items-center gap-4 invalid-input-message">
          <div class="w-[24px] flex items-center justify-center">
            <i class="fa-solid fa-circle-exclamation"></i>
          </div>
          <span *ngIf="description?.errors?.['required']" class="">La descripcion del comercio es obligatoria</span>
          <span *ngIf="description?.errors?.['minlength']" class="">La descripcion del comercio debe tener al menos 5 caracteres</span>
          <span *ngIf="description?.errors?.['maxlength']" class="">La descripcion del comercio debe ser menor a 500 caracteres</span>
        </div>
      }
    </div>

    <button
      class="button-2 font-bold text-2xl"
      type="button"
      (click)="cancel()"
    >
      Cancelar
    </button>
    <button
      class="button-1 font-bold text-2xl"
      type="submit"
      [disabled]="buttonDisabled"
    >
      Finalizar
    </button>
  </form>
  <div #cancelModalContainer></div>
</main>
<app-footer></app-footer>
