<div class="flex text-lg font-bold">
  <span
    class="px-8 py-4 rounded-tr-2xl cursor-pointer p5-menu-hover bg-white p3-text shadow-sm z-30"
    (click)="onAccountSummaryClick()"
  >
    Resumen de tu cuenta
  </span>
  <span
    class="px-8 py-4 rounded-tr-2xl cursor-pointer p5-menu-hover p8-bg text-white z-20 -translate-x-[20%]"
    (click)="onProfileClick()"
  >
    Perfil de tu negocio
  </span>
  <span
    class="px-8 py-4 rounded-tr-2xl cursor-pointer p5-menu-hover p6-bg text-white -translate-x-[35%] z-10"
    (click)="onAppointmentsClick()"
  >
    Administra tus citas
  </span>
  <span
    class="px-8 py-4 rounded-tr-2xl cursor-pointer p5-menu-hover p7-bg text-white z-0 -translate-x-[85%]"
    (click)="onAnalyticsClick()"
  >
    Analíticas
  </span>
</div>
