<div class="relative inline-block text-left">
  <div>
    <button
      class="inline-flex items-center justify-center gap-2 px-2 py-4 rounded-[40px] w-20 h-10 p3-menu-border p5-hover p3-text ease-in duration-300"
      (click)="toggleMenu()"
    >
      <p class="text-2xl"><i class="fa-solid fa-bars"></i></p>
      <p class="text-2xl"><i class="fa-solid fa-user"></i></p>
    </button>
  </div>

  @if (isVisible) {
  <div
    class="absolute right-0 z-10 w-60 bg-white py-4 px-4 rounded-b-2xl shadow-2xl"
    [ngClass]="{
      'transtion ease-out duration-100 transform opacity-100 scale-100': isOpen,
      'transition ease-in duration-75 transform opacity-0 scale-95': !isOpen
    }"
  >
    @if (!userHasLoggedIn) {
      <ul>
        <li
          class="w-full py-2 px-4 text-center text-lg font-medium p3-text p5-menu-hover"
          (click)="onLoginClick()"
        >
          <span class="w-full">Inicia sesión</span>
        </li>
        <li
          class="w-full py-2 px-4 text-center text-lg font-medium p3-text p5-menu-hover"
          (click)="onClientRegisterClick()"
        >
          <span class="w-full">Regístrate</span>
        </li>
        <li>
          <div class="w-full h-[2px] rounded-2xl p6-bg"></div>
        </li>
        <li
          class="w-full py-2 px-4 text-center text-lg font-medium p3-text p5-menu-hover"
          (click)="onBusinessRegisterClick()"
        >
          <span class="w-full">Inscribe tu negocio</span>
        </li>
      </ul>
    } @else {
      <ul>
        <li
          class="w-full py-2 px-4 text-center text-lg font-medium p3-text p5-menu-hover"
          (click)="onControlPanelClick()"
        >
          <span class="w-full">Panel de control</span>
        </li>
        <li
          class="w-full py-2 px-4 text-center text-lg font-medium p3-text p5-menu-hover"
          (click)="onProfileClick()"
        >
          <span class="w-full">Tu perfil</span>
        </li>
        <li
          class="w-full py-2 px-4 text-center text-lg font-medium p3-text p5-menu-hover"
          (click)="onAppointmentsClick()"
        >
          <span class="w-full">Administra tus citas</span>
        </li>
        <li>
          <div class="w-full h-[2px] rounded-2xl p6-bg"></div>
        </li>
        <li
          class="w-full py-2 px-4 text-center text-lg font-medium p3-text p5-menu-hover"
          (click)="onLogoutClick()"
        >
          <span class="w-full">Cerrar sesión</span>
        </li>
      </ul>
    }
  </div>
  }
</div>
<div #modalsContainer></div>
