<section class="w-full px-[120px] py-16 flex justify-center">
  <div class="max-w-[1300px] w-full flex items-center gap-16">
    <figure class="w-full">
      <img src="../../../assets/images/bookaround-hero.jpg" alt="BookAround hero image">
    </figure>
    <h1 class="font-bold text-5xl p1-text drop-shadow-xl w-full">Conectamos diversos comercios locales contigo para que hagas tus reservas fácilmente.</h1>
  </div>
</section>

<section class="w-full px-[70px] my-16 flex flex-col gap-16 justify-center items-center">
  <div class="max-w-[1300px] w-full leading-8">
    <article class="w-full flex items-center gap-8">
      <div class="w-1/2 flex flex-col items-center justify-center gap-8">
        <h2 class="font-bold text-[28px] p1-text">Encuentra los mejores comercios de tu zona y empieza a vivir nuevas experiencias.</h2>
        <button class="button-1" (click)="onGoToBusinessClick()">Ver los negocios</button>
      </div>
      <img src="../../../assets/images/bookaround-client-cta.jpg" alt="" class="w-1/2">
    </article>
  </div>
  <div class="max-w-[1300px] w-full leading-8">
    <article class="w-full flex items-center gap-8">
      <img src="../../../assets/images/bookaround-business-cta.jpg" alt="" class="w-1/2">
      <div class="w-1/2 flex flex-col items-center justify-center gap-8">
        <h2 class="font-bold text-[28px] p1-text">Registra tu comercio con nosotros y obtén un sistema mejorado de gestión para las reservas de tus clientes.</h2>
        <button class="button-2">Registrar mi negocio</button>
      </div>
    </article>
  </div>
</section>
