<article class="w-[400px] flex flex-col gap-2 items-start">
    <div class="flex gap-4 items-center">
      @if (isLoading) {
        <ngx-skeleton-loader appearance="circle" [theme]="{ height: '64px', width: '64px', borderRadius: '100%' }"></ngx-skeleton-loader>
      } @else {
        <img src="{{ review.client?.picture }}" alt="" class="w-16 h-16 rounded-full p5-border">
      }
      <div class="flex flex-col gap-2">
        @if (isLoading) {
          <ngx-skeleton-loader appearance="line" [theme]="{ height: '32px', width: '200px' }"></ngx-skeleton-loader>
        } @else {
          <h3 class="text-2xl font-bold p3-text">{{ review.client?.name }}</h3>
        }
        <div class="flex gap-1 p5-text">
          @for (star of getScoreStars(); track $index) {
            @if (isLoading) {
              <ngx-skeleton-loader appearance="line" [theme]="{ height: '16px', width: '16px' }"></ngx-skeleton-loader>
            } @else {
              <i [ngClass]="star"></i>
            }
          }
        </div>

        @if (isLoading) {
          <ngx-skeleton-loader appearance="line" [theme]="{ height: '28px', width: '200px' }"></ngx-skeleton-loader>
        } @else {
          <span class="text-lg p3-text">{{ getFormattedDate() }}</span>
        }
      </div>
    </div>

    @if (isLoading) {
      <ngx-skeleton-loader appearance="line" [theme]="{ height: '20px', width: '400px' }"></ngx-skeleton-loader>
    } @else {
      <p class="text-sm p3-text" #reviewContent [ngClass]="{'truncated' : !isExpanded, 'expanded' : isExpanded}">
        {{ review.content }}
      </p>
    }
    @if (isTruncated) {
      <button class="flex gap-2 items-center text-lg font-medium p5-text" (click)="toggleReadMore()">
        <span>Leer más</span>
        <i class="fa-solid fa-arrow-right"></i>
      </button>
    }
    <button
      class="w-full button-1"
      (click)="openReportModal('customer')"
    >
      Reportar usuario
    </button>
    <button
    class="w-full button-2"
    (click)="openReportModal('review')"
  >
    Reportar reseña
  </button>
</article>
<div #reportContainer></div>
