<section class="w-full xl:h-screen flex items-center justify-center p-8">
  <div class="w-full max-w-[1300px] flex flex-col gap-8 items-center">
    <div class="flex flex-col-reverse xl:flex-row xl:gap-16 items-center justify-center">
      <div class="w-full flex flex-col gap-2">
        <h1 class="font-black p5-text text-[200px] text-center xl:text-left">¡Ups!</h1>
        <p class="text-[38px] p3-text text-center xl:text-left">Parece que axlo salió mal</p>
        <p class="text-[28px] p3-text font-bold text-center xl:text-left">Error 404</p>
      </div>
      <img src="assets/images/bookaround-not-found.jpg" alt="404 ilustration" class="w-full xl:w-1/2">
    </div>
    <button class="button-1" (click)="goBackToHome()">Regresar a la página principal</button>
  </div>
</section>
