<section class="w-full h-screen flex items-center justify-center">
  <div class="w-full max-w-[1300px] flex flex-col gap-8 items-center">
    <div class="flex gap-16 items-center justify-center">
      <div class="w-full flex flex-col gap-2">
        <h1 class="font-black p5-text text-[200px]">¡Ups!</h1>
        <p class="text-[38px] p3-text">Parece que algo salió mal</p>
        <p class="text-[28px] p3-text font-bold">Error 404</p>
      </div>
      <img src="../../../assets/images/bookaround-not-found.jpg" alt="404 ilustration" class="w-1/2">
    </div>
    <button class="button-2" (click)="goBackToHome()">Regresar a la página principal</button>
  </div>
</section>
