<div class="w-full flex items-center rounded-2xl gap-4">
  <i class="fa-solid fa-location-dot text-2xl p6-text"></i>
  <div class="w-full flex flex-col">
    <label
      *ngIf="showLabel"
      class="p3-text text-lg font-medium"
    >
      Dirección
    </label>
    <input
      type="text"
      [placeholder]="placeholder"
      class="w-full p6-text text-lg focus:outline-none dark:bg-dark-input-bg"
      #inputField
      [(ngModel)]="input"
      (ngModelChange)="onChange($event)"
      (blur)="onTouched()"
    >
  </div>
</div>
