<aside class="w-full h-full flex flex-col md:flex-row items-center lg:flex-col gap-4 p-2 md:p-4 rounded-l-2xl lg:border-e-2 p6-border-color dark:bg-dark-text-2">
  <img
    src="assets/images/bookaround-admin-panel.jpg"
    alt="Book Around admin panel ilustration"
    class="w-96 dark:rounded-2xl"
  >
  <div class="flex flex-col gap-4">
    <h2 class="p3-text font-medium text-2xl text-center lg:text-end dark:text-white">Panel de administrador</h2>
    <ul class="flex justify-between flex-row md:flex-col gap-4">
      <li
        class="p5-text font-bold text-lg dark:text-white"
      >
        <a routerLink="/admin/customers">
          <i class="fa-regular fa-user"></i>
          Usuarios reportados
        </a>
      </li>
      <li
        class="p5-text font-bold text-lg dark:text-white"
      >
        <a routerLink="/admin/business">
          <i class="fa-solid fa-shop"></i>
          Comercios reportados
        </a>
      </li>
      <li
        class="p5-text font-bold text-lg dark:text-white"
      >
        <a routerLink="/admin/reviews">
          <i class="fa-regular fa-comment"></i>
          Reseñas reportadas
        </a>
      </li>
    </ul>
  </div>
</aside>
