<aside class="w-full h-full flex flex-col gap-4 p-4 border-e-2 p6-border-color">
  <img
    src="assets/images/bookaround-admin-panel.jpg"
    alt="Book Around admin panel ilustration"
    class="w-96"
  >
  <h2 class="p3-text font-medium text-2xl">Panel de administrador</h2>
  <ul class="flex flex-col gap-4">
    <li
      class="p5-text font-bold text-lg"
    >
      <a routerLink="/admin/customers">
        <i class="fa-regular fa-user"></i>
        Usuarios reportados
      </a>
    </li>
    <li
      class="p5-text font-bold text-lg"
    >
      <a routerLink="/admin/business">
        <i class="fa-solid fa-shop"></i>
        Comercios reportados
      </a>
    </li>
    <li
      class="p5-text font-bold text-lg"
    >
      <a routerLink="/admin/reviews">
        <i class="fa-regular fa-comment"></i>
        Reseñas reportadas
      </a>
    </li>
  </ul>
</aside>
