<section class="w-full flex flex-col items-center justify-center gap-16">
  <div class="w-full max-w-[1300px] flex gap-16">
    <div
      class="flex flex-col gap-4"
      [ngClass]="userRole === 'company' ? 'w-full' : 'w-2/3'"
    >
      <div
        class="w-full h-[500px] rounded-2xl p3-border"
        [ngStyle]="{'background-image': business.pictures ? 'url(' + business.pictures + ')' : 'none'}"
        id="business-img"
      >
      </div>
      <div class="w-full flex flex-col gap-4">
        <h1 class="text-[38px] font-bold p3-text">{{ business.name }}</h1>
        <div class="flex gap-8">
          <div class="flex items-center p5-text text-2xl">
            @for (star of getScoreStars(); track $index) {
              <i [ngClass]="star"></i>
            }
          </div>
          <div class="flex items-center p3-text text-2xl gap-2">
            @for (cat of business.categories; track $index) {
              <i [ngClass]="cat.icon"></i>
            }
          </div>
        </div>
        <div class="flex gap-8 items-center">
          <div class="flex items-center p3-text gap-2">
            <i class="fa-regular fa-clock"></i>
            <span class="text-lg font-medium">Horarios: {{ getFormattedHour(business.workingHours?.opening ?? 0) }} - {{ getFormattedHour(business.workingHours?.closing ?? 0) }}</span>
          </div>
          <div class="flex items-center p3-text gap-2">
            <i class="fa-solid fa-location-dot"></i>
            <span class="text-lg font-medium">{{ business.address }}</span>
          </div>
        </div>
        <div class="flex flex-col gap-4 items-start">
          <p class="p3-text text-lg" [ngClass]="{'truncated' : !isExpanded, 'expanded' : isExpanded}" #description>{{ business.description }}</p>
          @if (isTruncated) {
            <button (click)="toggleReadMore()" class="flex gap-2 items-center p5-text">
              <span class="text-lg font-medium">Leer {{ isExpanded ? 'menos' : 'más' }}</span>
              <i class="fa-solid fa-arrow-right text-2xl"></i>
            </button>
          }
          <button
            *ngIf="userRole"
            class="text-lg button-2"
            (click)="openReportModal()"
          >
            Reportar este comercio
          </button>
        </div>
      </div>
    </div>
    @if (userRole !== 'company') {
      <div class="w-1/3 h-full flex flex-col gap-4">
        <app-calendar></app-calendar>
        <button class="button-1 text-2xl self-center" (click)="openScheduleAppointmentModal()">Agenda tu cita</button>
      </div>
    }
  </div>
  <div class="w-full max-w-[1300px] flex items-center justify-center gap-8">
    @if (displayedReviews.length > 0) {
      <div class="w-2/3 flex flex-col gap-4">
        <div class="grid grid-cols-2 gap-4">
          @for (review of displayedReviews; track review.id) {
            <app-review-card [review]="review" [isLoading]="isLoading"></app-review-card>
          }
        </div>
      </div>
      <div class="w-1/3 h-full">
        <img src="assets/images/bookaround-reviews.jpg" alt="">
      </div>
    } @else {
      <div class="flex flex-col gap-8 items-center">
        <div class="flex gap-16 items-center justify-center w-[970px]">
          <h2 class="p3-text text-[38px] font-bold">Sé el primero en dejar una reseña para este local</h2>
          <img src="assets/images/bookaround-no-reviews.jpg" alt="" class="w-[450px] h-[450px]">
        </div>
        <button
          *ngIf="userRole !== 'company'"
          class="button-1 w-full text-lg"
          (click)="openReviewModal()"
        >
          Deja tu reseña
        </button>
      </div>
    }
  </div>
  <div class="w-full flex gap-16 justify-center">
    <button
      *ngIf="hasReviews && userRole !== 'company'"
      class="button-1 text-lg"
      (click)="openReviewModal()"
    >
      Deja tu reseña
    </button>
    @if (hasReviews) {
      <button
        class="button-2 text-lg"
        [ngClass]="{'hidden': reviews.length <= count}"
        (click)="currentIndex() >= reviews.length ? resetDisplayedReviews() : showMoreReviews()"
      >
        Lee {{ currentIndex() >= reviews.length ? 'menos' : 'más' }} reseñas
      </button>
    }
  </div>
  <div class="w-full max-w-[1300px] flex flex-col gap-4">
    <div class="w-full flex gap-8 items-center">
      <img src="assets/images/bookaround-find-us.jpg" alt="encuentranos ilustracion" class="w-[169px]">
      <div class="w-full h-[109px] p1-bg rounded-e-2xl flex items-center justify-center">
        <h2 class="text-[38px] font-bold text-white">Encuéntranos</h2>
      </div>
    </div>
    <div class="w-full h-[500px]">
      <google-map width="w-full" [options]="mapOptions" (mapClick)="moveMap($event)">
        <map-marker [options]="mapMarkerOptions"></map-marker>
      </google-map>
    </div>
  </div>
</section>
<div #reviewContainer></div>
