<main class="w-full flex flex-col gap-4 p-4 items-center">
  @if (isClient) {
    <section class="flex flex-col gap-4">
      @if (isLoading) {
        <ngx-skeleton-loader
          appearance="circle"
          [theme]="{ height: '300px', width: '300px' }"
        ></ngx-skeleton-loader>
        <ngx-skeleton-loader
          appearance="line"
          [theme]="{ height: '50px', width: '300px', borderRadius: '8px' }"
        ></ngx-skeleton-loader>
        <ngx-skeleton-loader
          appearance="line"
          [theme]="{ height: '50px', width: '300px', borderRadius: '8px' }"
        ></ngx-skeleton-loader>
      } @else {
        <img src="{{ clientInformation.picture }}" alt="client profile pic" class="w-[300px] h-[300px] rounded-full border-white border-[1px]">
        <button class="button-1 flex justify-center items-center gap-2 w-full">
          <i class="fa-solid fa-image text-2xl"></i>
          <span class="text-lg">Cambiar foto de perfil</span>
        </button>
        <button class="button-2 flex justify-center items-center gap-2 w-full">
          <i class="fa-solid fa-trash text-2xl"></i>
          <span class="text-lg">Eliminar foto de perfil</span>
        </button>
      }
    </section>
  }
  <section class="w-full flex flex-col gap-4">
    <h1 class="font-bold text-[28px] p3-text">{{ isClient ? 'Tus datos' : 'Datos de tu negocio' }}</h1>
    <form
      class="flex flex-col gap-4"
      [formGroup]="userInformationForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="w-full flex items-center rounded-2xl p-4 gap-4 p6-border">
        <i class="fa-regular fa-user text-2xl p6-text"></i>
        <div class="w-full flex flex-col">
          <label class="p3-text text-lg font-medium">Nombre {{ isClient ? '' : 'del negocio' }}</label>
          <input
            type="text"
            placeholder="Tu nombre"
            class="w-full p6-text text-lg focus:outline-none"
            formControlName="name"
          >
        </div>
      </div>
      <div class="w-full flex items-center gap-4 p-4 p6-border rounded-2xl">
        <i class="fa-regular fa-envelope text-2xl p6-text"></i>
        <div class="w-full flex flex-col">
          <label class="p3-text text-lg font-medium">Correo electrónico</label>
          <input
            type="text"
            placeholder="Tu correo electrónico"
            class="w-full p6-text text-lg focus:outline-none"
            formControlName="email"
          >
        </div>
      </div>
      @if (email?.invalid) {
        <div class="w-full flex items-center gap-4 invalid-input-message">
          <div class="w-[24px] flex items-center justify-center">
            <i class="fa-solid fa-circle-exclamation"></i>
          </div>
          <span *ngIf="email?.errors?.['email']" class="">El email debe coincidir con una dirección de correo electrónico real</span>
        </div>
      }
      @if (!isClient) {
        <div class="w-full flex items-center gap-4 p-4 p6-border rounded-2xl">
          <i class="fa-solid fa-phone text-2xl p6-text"></i>
          <div class="w-full flex flex-col">
            <label class="p3-text text-lg font-medium">Teléfono</label>
            <input
              type="text"
              placeholder="Tu teléfono"
              class="w-full p6-text text-lg focus:outline-none"
              formControlName="phone"
            >
          </div>
        </div>
        <div class="p-4 rounded-2xl p6-border">
          <app-places-input-autocomplete formControlName="address"></app-places-input-autocomplete>
        </div>
      }
      <div class="flex items-center gap-4 rounded-2xl p-4 p6-border">
        <i class="fa-solid fa-lock text-2xl p6-text"></i>
        <div class="w-full flex flex-col gap-2">
          <app-password-input
            [labelText]="'Contraseña'"
            [showIcon]="false"
            formControlName="password"
          ></app-password-input>
          <app-password-input
            [labelText]="'Confirmar contraseña'"
            [showIcon]="false"
            (valueChange)="checkIfPasswordsMatches($event)"
          ></app-password-input>
          @if (!passwordsMatches) {
            <div class="w-full flex items-center gap-4 invalid-input-message">
              <div class="w-[24px] flex items-center justify-center">
                <i class="fa-solid fa-circle-exclamation"></i>
              </div>
              <span>Las contraseñas no coinciden</span>
            </div>
          }
        </div>
      </div>
      <button class="button-1 disabled:opacity-70" [disabled]="checkIfValid()">Guardar cambios</button>
    </form>
  </section>

  @if (!isClient) {
    <section class="w-full py-4">
      <h2 class="p3-text font-bold text-2xl mb-4">Galería de tu negocio</h2>
      <div class="w-full h-[500px] flex gap-4 items-center">
        <div class="w-[500px] h-full p6-border rounded-2xl"></div>
        <div class="grid grid-cols-2 gap-4">
          <div class="w-[200px] h-[200px] p6-border rounded-2xl"></div>
          <div class="w-[200px] h-[200px] p6-border rounded-2xl"></div>
          <div class="w-[200px] h-[200px] p6-border rounded-2xl"></div>
          <div class="w-[200px] h-[200px] p6-border rounded-2xl"></div>
        </div>
      </div>
    </section>
  }
</main>
