<section class="w-full flex flex-col gap-4 p-4">
  <h2 class="font-bold text-2xl p3-text">Tu perfil</h2>
  <div class="w-full flex gap-8">
    <div class="w-1/3 flex flex-col gap-4 items-center">
      <img
        src="https://picsum.photos/id/237/200"
        alt="user profile picture"
        class="w-[100px] h-[100px] rounded-full border-white border-[1px]"
      >
      <button class="button-1 w-full text-sm">Cambiar foto de perfil</button>
      <button class="button-2 w-full text-sm">Eliminar foto de perfil</button>
    </div>
    <div class="w-full flex flex-col gap-4">
      <h3 class="font-medium text-lg p3-text">Tus datos</h3>
      <form
        class="flex flex-col gap-4"
        [formGroup]="userInformationForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="w-full flex items-center rounded-2xl p-4 gap-4 p6-border">
          <i class="fa-regular fa-user text-2xl p6-text"></i>
          <div class="w-full flex flex-col">
            <label class="p3-text text-lg font-medium">Nombre</label>
            <input
              type="text"
              placeholder="Tu nombre"
              class="w-full p6-text text-lg focus:outline-none"
              formControlName="name"
            >
          </div>
        </div>
        <div class="flex flex-col p6-border gap-2 p-4 rounded-2xl">
          <div class="w-full flex items-center gap-4">
            <i class="fa-regular fa-envelope text-2xl p6-text"></i>
            <div class="w-full flex flex-col">
              <label class="p3-text text-lg font-medium">Correo electrónico</label>
              <input
                type="text"
                placeholder="Tu correo electrónico"
                class="w-full p6-text text-lg focus:outline-none"
                formControlName="email"
              >
            </div>
          </div>
          @if (email?.invalid) {
            <div class="w-full flex items-center gap-4 invalid-input-message">
              <div class="w-[24px] flex items-center justify-center">
                <i class="fa-solid fa-circle-exclamation"></i>
              </div>
              <span *ngIf="email?.errors?.['email']" class="">El email debe coincidir con una dirección de correo electrónico real</span>
            </div>
          }
          <div class="w-full flex items-center gap-4">
            <i class="fa-solid fa-phone text-2xl p6-text"></i>
            <div class="w-full flex flex-col">
              <label class="p3-text text-lg font-medium">Teléfono</label>
              <input
                type="text"
                placeholder="Tu teléfono"
                class="w-full p6-text text-lg focus:outline-none"
                formControlName="phone"
              >
            </div>
          </div>
        </div>
        <div class="p-4 rounded-2xl p6-border">
          <app-places-input-autocomplete formControlName="address"></app-places-input-autocomplete>
        </div>
        <div class="flex items-center gap-4 rounded-2xl p-4 p6-border">
          <i class="fa-solid fa-lock text-2xl p6-text"></i>
          <div class="w-full flex flex-col gap-2">
            <app-password-input
              [labelText]="'Contraseña'"
              [showIcon]="false"
              formControlName="password"
            ></app-password-input>
            <app-password-input
              [labelText]="'Confirmar contraseña'"
              [showIcon]="false"
              (valueChange)="checkIfPasswordsMatches($event)"
            ></app-password-input>
            @if (!passwordsMatches) {
              <div class="w-full flex items-center gap-4 invalid-input-message">
                <div class="w-[24px] flex items-center justify-center">
                  <i class="fa-solid fa-circle-exclamation"></i>
                </div>
                <span>Las contraseñas no coinciden</span>
              </div>
            }
          </div>
        </div>
        <button class="button-1 disabled:opacity-70" [disabled]="checkIfValid()">Actualiza tus datos</button>
      </form>
    </div>
  </div>
</section>
