<article class="p-2 flex gap-2 p6-border rounded-[4px]">
  <div class="h-full flex flex-col gap-1 items-center p7-border rounded-[4px] p-2">
    <span class="p3-text font-bold text-[38px]">01</span>
    <span class="p3-text text-sm font-medium">mes</span>
    <span class="p3-text text-lg">Lunes</span>
  </div>
  <div class="w-full flex flex-col gap-4">
    <app-appointment-card [status]="'active'"></app-appointment-card>
    <app-appointment-card [status]="'active'"></app-appointment-card>
    <app-appointment-card [status]="'canceled'"></app-appointment-card>
    <app-appointment-card [status]="'canceled'"></app-appointment-card>
    <app-appointment-card [status]="'canceled'"></app-appointment-card>
    <app-appointment-card [status]="'active'"></app-appointment-card>
  </div>
</article>
