<footer class="w-full p1-bg mt-16 px-[120px] py-8 text-white font-bold dark:bg-dark-primary">
  <section class="w-full flex flex-col gap-16">
    <img src="assets/images/Logo bookaround w-02.svg" class="h-32 self-start">
    <p class="w-[640px] font-medium text-lg text-white">
      En <strong class="font-bold">Book Around</strong>conectamos a clientes con los mejores comercios locales de forma sencilla y rápida. Nuestra plataforma facilita descubrir negocios cercanos, agendar citas y dar
      visibilidad a los comercios para atraer nuevos clientes. Creemos en fortalecer la economía local y construir comunidades más prósperas.
    </p>
    <div class="w-full h-[2px] p6-bg"></div>
    <div>
      <h3 class="text-2xl">Book Around Inc.</h3>
      <p class="font-medium text-lg">&copy; Copyright Cristian Rodríguez, Giovanni Rodríguez</p>
      <p class="text-lg">2024</p>
      <p class="font-medium text-sm mt-2">Todos los derechos reservados.</p>
    </div>
  </section>
</footer>
