<footer class="w-full p3-bg mt-16 px-[120px] py-8 grid place-content-center text-white font-bold">
  <div class="w-full flex items-center gap-20">
    <img src="" alt="BookAround logo">
    <div>
      <h3 class="text-3xl ">About us</h3>
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div>
      <h3 class="text-3xl ">Contact</h3>
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div>
      <h3 class="text-3xl">Links</h3>
      <ul class="flex flex-col gap-4 mt-4 text-2xl">
        <li class="flex gap-4 items-center">
          <span><i class="fa-brands fa-facebook"></i></span>
          <span>Facebook</span>
        </li>
        <li class="flex gap-4 items-center">
          <span><i class="fa-brands fa-x-twitter"></i></span>
          <span>Twitter</span>
        </li>
        <li class="flex gap-4 items-center">
          <span><i class="fa-brands fa-instagram"></i></span>
          <span>Instagram</span>
        </li>
      </ul>
    </div>
  </div>
</footer>
