<div class="flex items-center gap-4 rounded-2xl p-4 p6-border">
  <i class="fa-solid fa-lock text-2xl p6-text"></i>
  <div class="w-full flex flex-col gap-2">
    <app-password-input
      [labelText]="'Contraseña'"
      [showIcon]="false"
      (valueChange)="onPasswordChange($event, 'password')"
    ></app-password-input>
    <app-password-input
      [labelText]="'Confirmar contraseña'"
      [showIcon]="false"
      (valueChange)="onPasswordChange($event, 'confirmPassword')"
    ></app-password-input>
    @if (!passwordsMatches) {
      <div class="w-full flex items-center gap-4 invalid-input-message">
        <div class="w-[24px] flex items-center justify-center">
          <i class="fa-solid fa-circle-exclamation"></i>
        </div>
        <span>Las contraseñas no coinciden</span>
      </div>
    }
  </div>
</div>
