<section class="w-full flex flex-col gap-8 pb-4">
  <div class="w-full flex flex-col xl:flex-row gap-2">
    <div class="w-full xl:w-1/2 p6-search-bar-border p-4 rounded-xl">
      <h1 class="font-bold text-2xl p3-text dark:text-white">Tus citas de esta semana</h1>
      <canvas id="currentWeekAppointmentsChart"></canvas>
    </div>
    <div class="w-full xl:w-1/2 p6-search-bar-border p-4 rounded-xl">
      <h1 class="font-bold text-2xl p3-text dark:text-white">Tus citas de este mes</h1>
      <canvas id="currentMonthAppointmentsChart"></canvas>
    </div>
  </div>
  <div class="w-full p6-search-bar-border p-4 rounded-xl">
    <h1 class="font-bold text-2xl p3-text dark:text-white">Tus citas a lo largo de este año</h1>
    <canvas id="currentYearAppointments"></canvas>
  </div>
  <div class="w-full p6-search-bar-border p-4 rounded-xl">
    <h1 class="font-bold text-2xl p3-text dark:text-white">Así van las reseñas de tu comercio</h1>
    <p class="p3-text my-3 text-center md:text-left dark:text-white">Esta gráfica muestra la cantidad de reseñas por número de estrellas que tiene tu comercio.</p>
    <canvas id="reviewsPieChart"></canvas>
  </div>
</section>
