<main class="w-full flex flex-col gap-4 p-4 items-center">
  <section class="w-full flex flex-col gap-4">
    <h1 class="font-bold text-[28px] p3-text dark:text-white">Datos de tu negocio</h1>
    <form
      class="flex flex-col gap-4"
      [formGroup]="updateBusinessForm"
      (ngSubmit)="updateInfo()"
    >
      @if (isLoading) {
        <ngx-skeleton-loader appearance="line" [theme]="{ height: '70px', width: '100%', borderRadius: '16px' }"></ngx-skeleton-loader>
        <ngx-skeleton-loader appearance="line" [theme]="{ height: '70px', width: '100%', borderRadius: '16px' }"></ngx-skeleton-loader>
        <ngx-skeleton-loader appearance="line" [theme]="{ height: '70px', width: '100%', borderRadius: '16px' }"></ngx-skeleton-loader>
        <ngx-skeleton-loader appearance="line" [theme]="{ height: '70px', width: '100%', borderRadius: '16px' }"></ngx-skeleton-loader>
      } @else {
        <div class="w-full flex items-center rounded-2xl p-4 gap-4 p6-border dark:bg-dark-input-bg">
          <i class="fa-regular fa-user text-2xl p6-text"></i>
          <div class="w-full flex flex-col">
            <label class="p3-text text-lg font-medium">Nombre del comercio</label>
            <input
              type="text"
              placeholder="Nombre del comercio"
              class="w-full p6-text text-lg focus:outline-none dark:bg-dark-input-bg"
              formControlName="name"
            >
          </div>
        </div>
        <div class="w-full flex items-center rounded-2xl p-4 gap-4 p6-border dark:bg-dark-input-bg">
          <i class="fa-regular fa-envelope text-2xl p6-text"></i>
          <div class="w-full flex flex-col">
            <label class="p3-text text-lg font-medium">Correo electrónico</label>
            <input
              type="email"
              placeholder="Nombre del comercio"
              class="w-full p6-text text-lg focus:outline-none dark:bg-dark-input-bg"
              formControlName="email"
            >
          </div>
        </div>
        @if (email?.invalid && (email?.dirty || email?.touched)) {
          <div class="w-full flex items-center gap-4 px-4 invalid-input-message">
            <div class="w-[24px] flex items-center justify-center">
              <i class="fa-solid fa-circle-exclamation"></i>
            </div>
            <span *ngIf="email?.errors?.['email']">El email debe coincidir con una dirección de correo electrónico real</span>
          </div>
        }
        <div class="w-full flex items-center rounded-2xl p-4 gap-4 p6-border dark:bg-dark-input-bg">
          <i class="fa-solid fa-phone text-2xl p6-text"></i>
          <div class="w-full flex flex-col">
            <label class="p3-text text-lg font-medium">Teléfono</label>
            <input
              type="tel"
              placeholder="Nombre del comercio"
              class="w-full p6-text text-lg focus:outline-none dark:bg-dark-input-bg"
              formControlName="phone"
            >
          </div>
        </div>
        @if (phone?.invalid && (phone?.dirty || phone?.touched)) {
          <div class="w-full flex items-center gap-4 px-4 invalid-input-message">
            <div class="w-[24px] flex items-center justify-center">
              <i class="fa-solid fa-circle-exclamation"></i>
            </div>
            <span *ngIf="phone?.errors?.['pattern']" class="">Introduce un numero de telefono correcto</span>
          </div>
        }
        <div class="w-full p6-border p-4 rounded-2xl dark:bg-dark-input-bg">
          <app-places-input-autocomplete formControlName="address"></app-places-input-autocomplete>
        </div>
        <div class="rounded-2xl p-4 p6-border dark:bg-dark-input-bg">
          <app-password-input
            [labelText]="'Contraseña'"
            [showIcon]="true"
            formControlName="password"
          >
          </app-password-input>
        </div>
      }
      <button class="button-1 disabled:opacity-70" [disabled]="isLoading">Guardar cambios</button>
    </form>
  </section>

  <section class="w-full py-4">
    <h2 class="p3-text font-bold text-2xl mb-4 dark:text-white">Galería de tu negocio</h2>
    <div class="w-full h-[500px] flex gap-4 items-center">
      @if (images.length > 0) {
        <img
          class="w-[500px] h-full p6-border rounded-2xl object-cover"
          [src]="images[0]"
        >
        <div class="grid grid-cols-2 gap-4">
          @for (image of images.slice(1); track $index) {
            <img
              class="w-[200px] h-[200px] p6-border rounded-2xl"
              [src]="image"
            >
          }
        </div>
      } @else {
        <div class="w-[500px] h-full p6-border rounded-2xl"></div>
        <div class="grid grid-cols-2 gap-4">
          <div class="w-[200px] h-[200px] p6-border rounded-2xl"></div>
          <div class="w-[200px] h-[200px] p6-border rounded-2xl"></div>
          <div class="w-[200px] h-[200px] p6-border rounded-2xl"></div>
          <div class="w-[200px] h-[200px] p6-border rounded-2xl"></div>
        </div>
      }
    </div>
  </section>
</main>
