<div class="flex flex-col gap-8 items-center justify-center">
  <button class="flex items-center gap-2 p3-text">
    <span class="text-2xl-text"><i class="fa-solid fa-sliders"></i></span>
    <span class="text-lg font-medium">Filtros</span>
  </button>
  <div class="w-full max-w-[1300px] grid grid-cols-4 gap-y-4">
    @for (b of displayed; track b.id) {
      <app-business-card [business]="b"></app-business-card>
    }
  </div>
  <button class="button-2" (click)="currentIndex >= business.length ? showLess() : showMore()">
    <span class="drop-shadow-xl">Mostrar {{ currentIndex >= business.length ? 'menos' : 'más' }}</span>
  </button>
</div>
