<div class="w-full flex items-center gap-4">
  @if (showIcon) {
    <i class="fa-solid fa-lock text-2xl p6-text"></i>
  }
  <div class="w-full flex flex-col">
    <label class="p3-text text-lg font-medium">{{ labelText }}</label>
    <input
      [type]="showPassword ? 'text' : 'password'"
      placeholder="Tu contraseña"
      class="w-full p6-text text-lg focus:outline-none"
      [(ngModel)]="input"
      (ngModelChange)="onChange($event)"
      (blur)="onTouched()"
      (input)="onInputChange($event)"
    >
  </div>
  <button (click)="toggleShowPassword($event)">
    @if (showPassword) {
      <i class="fa-solid fa-eye-slash text-2xl p6-text p2-hover transition ease-in duration-300"></i>
    } @else {
      <i class="fa-solid fa-eye text-2xl p6-text p2-hover transition ease-in duration-300"></i>
    }
  </button>
</div>
