<app-modal
  [title]="title"
  [buttonText]="buttonText"
  [buttonAction]="modalButtonAction"
  [hasHeader]="true"
  [buttonActionIsDisabled]="isDisabled"
  modalType="login"
>
  <form
    class="flex flex-col gap-4"
    [formGroup]="loginForm"
    (ngSubmit)="submit()"
  >
    <div class="w-full flex items-center rounded-2xl p-4 gap-4 p6-border">
      <i class="fa-regular fa-envelope text-2xl p6-text"></i>
      <div class="w-full flex flex-col">
        <label class="p3-text text-lg font-medium">Correo electrónico</label>
        <input
          type="text"
          placeholder="Tu correo electrónico"
          class="w-full p6-text text-lg focus:outline-none"
          formControlName="email"
        >
      </div>
    </div>
    @if (email?.invalid && (email?.dirty || email?.touched)) {
      <div class="w-full flex items-center gap-4 px-4 invalid-input-message">
        <div class="w-[24px] flex items-center justify-center">
          <i class="fa-solid fa-circle-exclamation"></i>
        </div>
        <span *ngIf="email?.errors?.['required']">El email es obligatorio</span>
        <span *ngIf="email?.errors?.['email']">El email debe coincidir con una dirección de correo electrónico real</span>
      </div>
    }
    <div class="rounded-2xl p-4 p6-border">
      <app-password-input
        [labelText]="'Contraseña'"
        [showIcon]="true"
        formControlName="password"
      ></app-password-input>
    </div>
    @if (password?.invalid && (password?.dirty || password?.touched)) {
      <div class="w-full flex items-center gap-4 px-4 invalid-input-message">
        <div class="w-[24px] flex items-center justify-center">
          <i class="fa-solid fa-circle-exclamation"></i>
        </div>
        <span *ngIf="password?.errors?.['required']">La contraseña es obligatoria</span>
      </div>
    }
  </form>
</app-modal>
