<app-modal
  [title]="modalTitle"
  [buttonText]="modalButtonText"
  [buttonAction]="nextStep.bind(this)"
  [stepBackAction]="stepBack.bind(this)"
  [hasStepBack]="true"
  [hasHeader]="true"
  [step]="currentStep"
  [buttonActionIsDisabled]="buttonIsDisbaled"
  modalType="businessRegister"
>
  <div>
      <form class="flex flex-col gap-4" [formGroup]="businessRegisterForm" (ngSubmit)="submit()">
        @if (currentStep === 1) {
          <div class="w-full flex items-center rounded-2xl p-4 gap-4 p6-border dark:bg-dark-input-bg">
            <i class="fa-regular fa-envelope text-2xl p6-text"></i>
            <div class="w-full flex flex-col relative">
              <label class="p3-text text-lg font-medium">Correo electrónico</label>
              <input
                type="text"
                placeholder="Tu correo electrónico"
                class="w-full p6-text text-lg focus:outline-none dark:bg-dark-input-bg"
                formControlName="email"
              >
            </div>
          </div>
          @if (email?.invalid && (email?.dirty || email?.touched)) {
            <div class="w-full flex items-center gap-4 px-4 invalid-input-message">
              <div class="w-[24px] flex items-center justify-center">
                <i class="fa-solid fa-circle-exclamation"></i>
              </div>
              <span *ngIf="email?.errors?.['required']">El email es obligatorio</span>
              <span *ngIf="email?.errors?.['email']">El email debe coincidir con una dirección de correo electrónico real</span>
            </div>
          }
          <div class="rounded-2xl p-4 p6-border dark:bg-dark-input-bg">
            <app-password-input
              [labelText]="'Contraseña'"
              [showIcon]="true"
              formControlName="password"
            ></app-password-input>
          </div>
          @if (password?.invalid && (password?.dirty || password?.touched)) {
            <div class="w-full flex items-center gap-4 px-4 invalid-input-message">
              <div class="w-[24px] flex items-center justify-center">
                <i class="fa-solid fa-circle-exclamation"></i>
              </div>
              <span *ngIf="password?.errors?.['required']">La contraseña es obligatoria</span>
            </div>
          }
        }

        @if (currentStep === 2) {
          <div class="w-full flex items-center rounded-2xl p-4 gap-4 p6-border dark:bg-dark-input-bg">
            <i class="fa-solid fa-user-tie text-2xl p6-text"></i>
            <div class="w-full flex flex-col">
              <label class="p3-text text-lg font-medium">¿Cómo se llama tu comercio?</label>
              <input
                type="text"
                placeholder="Nombre del comercio"
                class="w-full p6-text text-lg focus:outline-none dark:bg-dark-input-bg"
                formControlName="name"
              >
            </div>
          </div>
          @if (name?.invalid && (name?.dirty || name?.touched)) {
            <div class="w-full flex items-center gap-4 px-4 invalid-input-message">
              <div class="w-[24px] flex items-center justify-center">
                <i class="fa-solid fa-circle-exclamation"></i>
              </div>
              <span *ngIf="name?.errors?.['required']" class="">El nombre del comercio es obligatoria</span>
              <span *ngIf="name?.errors?.['minlength']" class="">El nombre del comercio debe tener una longitud de al menos 5 caracteres</span>
            </div>
          }
          <h3 class="p3-text text-center text-2xl font-bold dark:text-white">Ubicación de tu comercio</h3>
          <div class="w-full p6-border p-4 rounded-2xl dark:bg-dark-input-bg">
            <app-places-input-autocomplete formControlName="address"></app-places-input-autocomplete>
          </div>
          @if (address?.invalid && (address?.dirty || address?.touched)) {
            <div class="w-full flex items-center gap-4 px-4 invalid-input-message">
              <div class="w-[24px] flex items-center justify-center">
                <i class="fa-solid fa-circle-exclamation"></i>
              </div>
              <span *ngIf="address?.errors?.['required']" class="">La dirección del comercio es obligatoria</span>
            </div>
          }
          <h3 class="p3-text text-center text-2xl font-bold dark:text-white">Contacto de tu comercio</h3>
          <div class="w-full flex items-center rounded-2xl p-4 gap-4 p6-border dark:bg-dark-input-bg">
            <i class="fa-solid fa-phone text-2xl p6-text"></i>
            <div class="w-full flex flex-col">
              <label class="p3-text text-lg font-medium">Teléfono </label>
              <input
                type="text"
                placeholder="Número de teléfono"
                class="w-full p6-text text-lg focus:outline-none dark:bg-dark-input-bg"
                formControlName="phone"
              >
            </div>
          </div>
          @if (phone?.invalid && (phone?.dirty || phone?.touched)) {
            <div class="w-full flex items-center gap-4 px-4 invalid-input-message">
              <div class="w-[24px] flex items-center justify-center">
                <i class="fa-solid fa-circle-exclamation"></i>
              </div>
              <span *ngIf="phone?.errors?.['required']" class="">El telefono de contacto es obligatorio</span>
              <span *ngIf="phone?.errors?.['pattern']" class="">Introduce un numero de telefono correcto</span>
            </div>
          }
        }
      </form>
    </div>
</app-modal>
