<app-modal
  [title]="'Filtros'"
  [buttonText]="'Filtrar'"
  [buttonAction]="filter"
  modalType="filters"
>
  <form class="flex flex-col gap-8" [formGroup]="filtersForm">
    <div class="p-4 flex flex-col gap-4 p6-border rounded-2xl">
      <h3 class="p3-text font-bold text-lg">Ubicación</h3>
      <div class="flex items-center gap-4">
        <select name="" id="" class="px-4 py-2 p3-text font-medium text-lg p3-menu-border rounded-[4px]">
          <option value="">Selecciona tu país</option>
        </select>
        <select name="" id="" class="px-4 py-2 p3-text font-medium text-lg p3-menu-border rounded-[4px]">
          <option value="">Selecciona tu ciudad</option>
        </select>
      </div>
    </div>
    <div class="p-4 flex flex-col gap-4 p6-border rounded-2xl">
      <h3 class="p3-text font-bold text-lg">Puntuación</h3>
      <div class="flex items-center gap-4">
        <div>
          @for (star of stars; track $index; let i = $index) {
            <input type="radio" name="rating" id="star{{i}}" [value]="i + 1" class="hidden">
            <label for="star{{i}}" class="text-2xl p6-text cursor-pointer" (click)="setRate(i + 1)" (mouseover)="setHoverRating(i + 1)" (mouseleave)="resetHover()">
              <i class="{{ i < (rating || hoverRating) ? 'fa-solid fa-star' : 'fa-regular fa-star' }}"></i>
            </label>
          }
        </div>
        <span class="p3-text font-medium text-lg">{{ rating }}</span>
      </div>
    </div>
    <div class="p-4 flex flex-col gap-4 p6-border rounded-2xl">
      <h3 class="p3-text font-bold text-lg">Rango de precio</h3>
      <div>
        <ngx-slider [(value)]="from" [(highValue)]="to" [options]="options"></ngx-slider>
      </div>
      <div class="w-full flex gap-4 items-center p3-text">
        <div class="w-full rounded-2xl p3-menu-border p-4 flex flex-col gap-2">
          <span class="text-sm">Mínimo</span>
          <span class="font-medium text-lg">${{ from }}</span>
        </div>
        <div class="w-full rounded-2xl p3-menu-border p-4 flex flex-col gap-2">
          <span class="text-sm">Máximo</span>
          <span class="font-medium text-lg">${{ to }}</span>
        </div>
      </div>
    </div>
  </form>
</app-modal>
