<app-modal
  [title]="'Filtros'"
  [buttonText]="'Filtrar'"
  [buttonAction]="filter"
  [buttonActionIsDisabled]="false"
  modalType="filters"
>
  <form class="w-[600px] flex flex-col gap-8" [formGroup]="filtersForm">
    <div class="p-4 flex flex-col gap-4 p6-border rounded-2xl dark:bg-dark-input-bg">
      <h3 class="p3-text font-bold text-lg">Ubicación</h3>
      <app-places-input-autocomplete
        [showLabel]="false"
        [placeholder]="'Escribe una ubicación'"
        formControlName="location"
      >
      </app-places-input-autocomplete>
    </div>
    <div class="p-4 flex flex-col gap-4 p6-border rounded-2xl">
      <h3 class="p3-text font-bold text-lg dark:text-white">Puntuación</h3>
      <div class="flex items-center gap-4">
        <app-rating-stars (rate)="handleRating($event)"></app-rating-stars>
        <span class="p3-text font-medium text-lg dark:text-white">{{ rating }}</span>
      </div>
    </div>
    <div class="p-4 flex flex-col gap-4 p6-border rounded-2xl">
      <h3 class="p3-text font-bold text-lg dark:text-white">Rango de precio</h3>
      <div>
        <ngx-slider [(value)]="from" [(highValue)]="to" [options]="options"></ngx-slider>
      </div>
      <div class="w-full flex gap-4 items-center p3-text">
        <div class="w-full rounded-2xl p3-menu-border p-4 flex flex-col gap-2 dark:border-white">
          <span class="text-sm dark:text-white">Mínimo</span>
          <span class="font-medium text-lg dark:text-white">${{ from }}</span>
        </div>
        <div class="w-full rounded-2xl p3-menu-border p-4 flex flex-col gap-2 dark:border-white">
          <span class="text-sm dark:text-white">Máximo</span>
          <span class="font-medium text-lg dark:text-white">${{ to }}</span>
        </div>
      </div>
    </div>
  </form>
</app-modal>
