<main class="w-full flex flex-col gap-8 mb-8">
  <section class="w-full flex gap-8">
    @if (!isClient) {
      <div class="w-1/3 px-8 flex flex-col gap-8 justify-center">
        <div class="flex flex-col gap-4">
          <h3 class="p3-text font-bold text-lg dark:text-white">Calificación actual</h3>
          @if (isLoading) {
            <ngx-skeleton-loader appearance="line" [theme]="{ height: '25px', width: '100%' }"></ngx-skeleton-loader>
          } @else {
            <div class="flex items-center text-2xl p5-text">
              @for (star of getScoreStars(); track $index) {
                <i [ngClass]="star"></i>
              }
            </div>
          }
        </div>
        <div class="flex flex-col gap-4">
          <h3 class="p3-text font-bold text-lg dark:text-white">Categorías de tu negocio</h3>
          <div class="flex gap-2 items-center">
            @if (isLoading) {
              <ngx-skeleton-loader appearance="line" [theme]="{ height: '25px', width: '100px' }"></ngx-skeleton-loader>
            } @else {
              @for (category of businessInfo.categories; track category.id) {
                <i class="{{ category.icon }} text-2xl p5-text dark:text-white"></i>
              }
            }
          </div>
        </div>
      </div>
    }
    <div
      class="flex flex-col gap-4"
      [ngClass]="isClient ? 'w-full' : 'w-2/3'"
    >
      <h2 class="p3-text text-[24px] font-bold dark:text-white">Citas</h2>
      <div class="w-full">
        <h3 class="p3-text font-medium text-sm mb-2 dark:text-white">Status</h3>
        <div class="w-full flex gap-4">
          <div class="flex gap-2">
            <div class="w-4 h-4 rounded-[4px] g1-bg"></div>
            <span class="p3-text text-sm dark:text-white">Activas</span>
          </div>
          <div class="flex gap-2">
            <div class="w-4 h-4 rounded-[4px] r1-bg"></div>
            <span class="p3-text text-sm dark:text-white">Canceladas</span>
          </div>
        </div>
      </div>
      <div class="w-full flex gap-4">
        @if (loadingAppointments) {
          <p class="dark:text-white">Cargando citas...</p>
        } @else {
          <div class="w-full flex flex-col gap-2">
            <h3 class="p3-text text-lg font-medium dark:text-white">Agendadas para hoy</h3>
            <app-appointments-group [appointments]="getTodaysAppointments()"></app-appointments-group>
          </div>
          <div class="w-full flex flex-col gap-2">
            <h3 class="p3-text text-lg font-medium dark:text-white">Agendadas para esta semana</h3>
            <app-appointments-group [appointments]="getWeekAppointments()" [isWeekly]="true"></app-appointments-group>
          </div>
        }
      </div>
    </div>
  </section>

  @if (!isClient) {
    <section class="w-full py-4 px-8 flex flex-col gap-8">
      <h2 class="p3-text text-[24px] font-bold dark:text-white">Analíticas</h2>
      <app-summary-chart></app-summary-chart>
    </section>
  }
</main>
