<header class="w-full h-24 flex justify-center px-16 py-4 mb-8">
  <div class="w-full max-w-[1300px]">
    <nav class="w-full flex justify-between items-center py-4">
      <button (click)="goToHome()">
        <img src="../../../assets/images/Logo bookaround color-03.svg" alt="Book Around Logo" class="h-[120px]">
      </button>
      <div class="flex gap-4 justify-center items-center">
        <button class="text-lg p3-text font-bold transition ease-in duration-300 p5-hover" (click)="scrollToAboutUs()">Sobre nosotros</button>
        <app-user-menu-button></app-user-menu-button>
      </div>
    </nav>
  </div>
</header>

