<header class="w-full h-24 flex justify-center px-4 lg:px-16 py-4 mb-8 dark:bg-dark-primary">
  <div class="w-full max-w-[1300px] dark:bg-dark-primary">
    <nav class="w-full flex justify-between items-center gap-4 py-4 dark:bg-dark-primary">
      <button (click)="goToHome()">
        <img src="/assets/images/Logo bookaround color-03.svg" alt="Book Around Logo" class="h-[120px]">
      </button>
      @if (!isAtHome) {
        <div class="w-1/2">
          <app-search-bar></app-search-bar>
        </div>
      }
      <div class="flex gap-4 justify-center items-center">
        @if (isAtHome) {
          <button
            class="text-lg p3-text font-bold transition ease-in duration-300 p5-hover dark:text-white"
            (click)="scrollToAboutUs()"
          >
            Sobre nosotros
          </button>
        }
        <button class="text-black dark:text-dark-text text-2xl" (click)="toggleDarkMode()">
          @if (isDarkMode) {
            <i class="fa-solid fa-sun"></i>
          } @else {
            <i class="fa-solid fa-moon"></i>
          }
        </button>
        <app-user-menu-button></app-user-menu-button>
      </div>
    </nav>
  </div>
</header>

